// ------------------------------------
// Fonts
// ------------------------------------

$main-font-stack: "proxima-nova", "Proxima Nova", Helvetica, Arial, sans-serif;

// ------------------------------------
// Colors
// ------------------------------------
$link-color: #0088EA;
$text-color: #222222;