@import "foundation/settings";
@import "foundation/components/grid";
@import "foundation/components/block-grid";
@import "foundation/components/visibility";
@import "variables";

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

a {
    text-decoration: none;
    color: $link-color;
    &:hover {
        text-decoration: underline;
    }
}

h1 {
    margin-top: 4rem;
    font-weight: 600;
    font-size: 1.5rem;
    span {
        font-size: 0.8rem;
        font-weight: 300;
        text-indent: 30px;
        &.star::before {
            content: "";
            position: absolute;
            background-image: url(../img/star.png);
            background-size: 100%;
            margin-top: 12px;
            margin-left: 10px;
            width: 11px;
            height: 11px;
        }
    }
}
h2 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: .25rem;
}

body {
    font-family: $main-font-stack;
    color: $text-color;
    background-color: #F4F7F9;
}

header {
    padding: 1.5rem 0;
    background-color: #fff;
    border-bottom: 1px solid #EDEDED;
    a {
        color: $text-color;
    } 

    .title {
        font-weight: 600;
        font-size: 18px;

        a {
            &:hover {
                text-decoration: none;
            }
        }
    }
    
    .medium-7-alt {
        width: 65.3333% !important;
    }
    
    .medium-3-alt {
        width: 18% !important;
    }


    .right-nav {
        margin-right: 8.3333% !important;
        ul {
            list-style: none;
            margin: 0;
            a {
                display: inline-block;
                margin: 0 1rem !important;
    
                &:first-of-type {
                    margin-left: 0 !important;
                }
                &:last-of-type {
                    margin-right: 0 !important;
                }
            }
        }
    }
}

.home-content {
    padding-top: 6rem;

    h1 {
        text-transform: uppercase;
        font-weight: 400;
        color: #27AAE1;
        font-size: 32px;
        margin-top: 1rem;
    }

    p {
        font-size: 18px;
        margin-bottom: 3rem;
    }

    a.apply-button {
        display: inline-block;
        background-color: #27AAE1;
        color: #fff;
        text-transform: uppercase;
        padding: .8rem 3rem;
        border-radius: 4px;
        margin-bottom: .5rem;
        font-weight: 300;

        &:hover {
            text-decoration: none;
            background-color: #269CCD;
        }
    }

    a.learn-button {
        color: #AEC1CA;
        font-weight: 300;
    }
}

.content {
    padding-bottom: 2rem;

    .photos {
        margin-top: 1rem;

        img {
            max-height: 160px;
            margin: .5rem;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    p {
        font-size: 16px;
        color: #485560;
    }
}

footer {
    position: absolute;
    width: 100%;
    bottom: 1rem;


    ul {
        display: inline-block;
        list-style: none;
        padding: 0;

        li {
            float: left;
            margin: 0 .75rem;
            a {
                color: #8AA0AB;
            }
        }
    }
}


// Projects
section.projects-content {
    h2 {
        margin-bottom: 0;
    }   
    
    h3 {
        font-weight: 500;
        font-style: italic;
    }
    
    .app-banner {
        width: 100%;
        height: 350px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 3px 3px 3px 3px;
        &#ghost-companion {
            background-image: url('../img/ghost-companion-banner.jpg');
        }
    }
}


// Design Resources
section.design-content {

    .group-icon {
        position: absolute;
        left: -20px;
        top: 7px;
    }

    p.label {
        font-size: 0.75rem;
        color: #BCC3CA;
        margin-bottom: .25rem;
        margin-top: .4rem;
    }

    .link-block {
        margin-bottom: .5rem;

        a {
            line-height: 18px;

            display: block;
            font-weight: 300;
            margin-bottom: .4rem;

            &.star::before {
                content: "";
                position: absolute;
                background-image: url(../img/star.png);
                background-size: 100%;
                margin-left: -16px;
                margin-top: 3px;
                width: 11px;
                height: 11px;
            }
        }
    }

    padding-bottom: 4rem;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #DCDCDC;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.article-links {
    font-size: 14px;
    margin-top: 0;
    font-weight: 300;
    padding: 0;

    a {
        font-size: 16px;
    }

    li {
        margin-bottom: .5rem;
    }

    color: #222;
}

.mobile {
    display: none;
}

.trans {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.trans2 {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

@media #{$small-only} {
    
    .mobile {
        display: block;
    }
    
    .home-content {
        padding: 5rem 0 5rem 0;
    }
    
    h1 {
        span {
            &.star::before {
                margin-top: 14px;
            }
        }
    }
    
    header {
        padding: 0px;
        line-height: 52px;
        position: fixed;
        width: 100%;
        z-index: 1;
        background-color: white;
        .medium-3-alt, .medium-7-alt {
            width: inherit !important;
        }
        .title {
            margin-bottom: 0px;
            text-align: center;
        }
        .nav-trigger {
            position: absolute;
            clip: rect(0, 0, 0, 0);
        }
        label[for="nav-trigger"] {
            position: absolute;
            top: 17px;
            right: 23px;
            z-index: 2;
            width: 24px;
            height: 22px;
            cursor: pointer;
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='24px' height='22px' viewBox='0 0 24 22' enable-background='new 0 0 24 22' xml:space='preserve'><rect width='26' height='3'/><rect y='16' width='26' height='3'/><rect y='8' width='26' height='3'/></svg>");
            background-size: contain;
        }
        
        .nav-trigger:checked ~ .right-nav {
            opacity: 1;
            pointer-events: all;
        }
        .right-nav {
            pointer-events: none;
            padding: 0px;
            opacity: 0;
            position: fixed;
            top: 52px;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.85);
            backdrop-filter: blur(20px) saturate(180%);
            -webkit-backdrop-filter: blur(20px) saturate(180%);
            border-top: 1px solid #f5f7f9;
            z-index: 1;
            ul {
                padding: 0;
                text-align: center;
                a {
                    display: block; 
                    margin: 0 !important;
                    text-align: left;
                    padding: 0 20px;
                    &:first-child {
                        margin-left: 0 !important;
                    }
                }
            }
        }
    }
}
