// External dependencies

@import '../node_modules/normalize-scss/sass/normalize';
@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../node_modules/@fortawesome/fontawesome-free/scss/brands.scss'; // For footer logos
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid.scss'; // For hamburger bars
@import url('https://fonts.googleapis.com/css?family=Muli:400,900&display=swap'); // Header font
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans:400,400i,500&display=swap'); // Body font

// Our imports

@import 'elevation.scss';

// Variables

$logo-font: "Muli", Helvetica, Arial, sans-serif;
$header-font: "IBM Plex Sans", Roboto, Helvetica, Arial, sans-serif;
$main-font: "IBM Plex Sans", Roboto, Helvetica, Arial, sans-serif;
$code-font: "IBM Plex Mono", Courier, Arial, sans-serif;

$open-web-brand: #53b8e7;
$text-color: #222222;

// Typography

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    font-weight: 500;
    color: $open-web-brand;
    margin-bottom: 0.5rem;
}

.nav__logo {
    font-family: $logo-font;
    font-size: 24px !important;
}

.nav__logo__thick {
    font-weight: 900;
}

h1 {
    font-size: 2rem;
}

p {
    font-family: $main-font;
    line-height: 140%;
}

a {
    text-decoration: none;
    color: $open-web-brand;
}

code {
    font-family: $code-font;
}

:not(pre) > code{
    background-color: #d2edf9;
}

time {
    font-size: 18px;
    font-style: italic;
}

// Layout

html {
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom right, aqua, $open-web-brand);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    height:100%;
    display: flex;
    flex-flow: column;
    font-size: 16px;
    color: $text-color;
    font-family: $main-font;
}

header {
    font-family: $header-font;
    //color: white;
    background-color: white;
    color: $open-web-brand;
    padding: 12px;
    font-size: 30px;

    @include BoxShadow(3);
    z-index:1;

    a {
        text-decoration: none;
        color: $open-web-brand;
    }
}

.header__content {
    max-width: 800px;
    margin: auto;
}

nav {
    width:100%;
}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 
  
.nav__link {
    float: right;
    display: block;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    font-size: 20px;

    :hover {
        color: aqua;
    }

    .active {
        background-color: #4CAF50;
        color: white;
    }

}

.nav__link:first-child  {
    float:left;
}

.nav__link.icon {
    display: none;
    touch-action: manipulation;

    :hover {
        color: $open-web-brand;
    }
}

main {
    flex-grow: 1;
    margin: 0 10px;
    padding: 0 10px;
    background-color: white;
    max-width: 800px;
}

article {
    max-width: 700px;
    margin: auto;
}

.pagination {
    text-align: center;
}

footer {
    width:100%;
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
    //color:rgba(255,255,255,0.5);
    background-color: white;
    color: $open-web-brand;
    @include BoxShadow(3);

    a {
        text-decoration: none;
        color: $open-web-brand;
    }

    i {
        margin: 0 8px;
    }
}

.logo-hero {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    color: white;

    h1, h2, h3 {
        color: white;
    }
}

svg#logo-white {
    max-width: 65%;
    padding:16px;
    margin: 0 auto;
}

.apply-button {
    width: max-content;
    margin: 0 auto;
    background-color: white;
    border-radius: 4px;
    padding: 16px 32px;
    font-family: $header-font;
    font-weight: 500;
    border: none;
    font-size: 30px;
    color: #53b8e7;
    @include BoxShadow(3);
}

.apply-button:hover {
    @include BoxShadow(9);
}

img {
    max-width: 100%;
}

pre {
    padding: 4px;
    border-radius: 4px;
    overflow: scroll;
    font-size: 14px;
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

// Change to hamburger menu when the menu would otherwise be too big.

 @media screen and (max-width: 650px) {
     // Hide the links before clicked

    

     .nav__link {
        float: none;
    }

    .nav__link:not(:first-child)  {
        display: none;
        padding: 8px 16px 0;
    }

    .nav__link:first-child  {
        float:none;
    }

    .nav__link.icon {
        position: absolute;
        right: 4px;
        top: 4px;
        display: block;
    }

    .menuShown {
        position: relative;

        .nav__link {
            display: block;
            text-align: center;
        }

        .nav__link.icon {
            position: absolute;
            right: -8px;
            top: -8px;
        }
    }
  }


// Good text width is 800, so this breakpoint was set with that in mind.
@media (min-width: 840px) {
    main {
        margin: auto;
        width: 100%;
    }
}