// External dependencies

@import '../node_modules/normalize-scss/sass/normalize';
@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../node_modules/@fortawesome/fontawesome-free/scss/brands.scss'; // For footer logos
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid.scss'; // For hamburger bars
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,400i,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

// Our imports

@import 'elevation.scss';


// Variables

$header-font: "Muli", Helvetica, Arial, sans-serif;

$main-font: "Lato", Roboto, Helvetica, Arial, sans-serif;


$link-color: #0088EA;
$text-color: #222222;

$open-web-brand: #53b8e7;

html {
    height: 100%;
}

p {
    font-family: $main-font;
}

body {
    background-image: linear-gradient(to bottom right, aqua, $open-web-brand);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    height:100%;
    display: flex;
    flex-flow: column;
    font-size: 20px;
    color: $text-color;
}

a {
    text-decoration: none;
    color: $open-web-brand;
}

.logo-hero {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
}

.big-logo {
    text-align:center;
}

svg#logo-white {
    max-width: 50%;
    padding:16px;

}

header {
    font-family: $header-font;
    //color: white;
    background-color: white;
    color: $open-web-brand;
    padding: 12px;
    font-size: 30px;
    text-transform: uppercase;

    @include BoxShadow(3);
    z-index:1;

    a {
        text-decoration: none;
        color: $open-web-brand;
    }
}

main {
    flex-grow: 1;
    margin: 0 10px;
    padding: 0 10px;
    background-color: white;
    max-width: 800px;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    color: $open-web-brand;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 3rem;
}

img {
    max-width: 100%;
}

//on larger screens, margin auto, max width somethin (maybe the breakpoint?)

footer {
    width:100%;
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
    //color:rgba(255,255,255,0.5);
    background-color: white;
    color: $open-web-brand;
    @include BoxShadow(3);

    a {
        text-decoration: none;
        color: $open-web-brand;
    }

    i {
        margin: 0 8px;
    }
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

@media (min-width: 820px) {
    main {
        margin: auto;
    }
}
