<footer>
	<!--p>&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></p-->
	<a href="https://www.facebook.com/openwebbu" aria-label="Facebook Page">
		<i aria-hidden="true" class="fab fa-facebook-f"></i>
	</a>
	<a href="https://instagram.com/openwebbu/" aria-label="Instagram Profile">
		<i aria-hidden="true" class="fab fa-instagram"></i>
	</a>
	<a href="https://medium.com/@openwebbu" aria-label="Medium Blog">
		<i aria-hidden="true" class="fab fa-medium-m"></i>
	</a>
	<a href="https://twitter.com/openwebbu" aria-label="Twitter Feed">
		<i aria-hidden="true" class="fab fa-twitter"></i>
	</a>
</footer>
