<footer>
	<p>&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></p>
</footer>

<!--footer>
	<footer class="hide-for-small-only">
		<div class="row text-center">
		  <ul>
			<li><a href="https://www.facebook.com/openwebbu" target="_blank">facebook</a></li>
			<li><a href="https://twitter.com/openwebbu" target="_blank">twitter</a></li>
			<li><a href="https://instagram.com/openwebbu/" target="_blank">instagram</a></li>
			<li><a href="https://medium.com/@openwebbu" target="_blank">medium</a></li>
		  </ul>
		</div>
	  </footer>
</footer-->