<footer>
	<!--p>&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></p-->
	<a href="https://medium.com/@openwebbu"><i class="fab fa-medium-m"></i></a>
	<a href="https://instagram.com/openwebbu/"><i class="fab fa-instagram"></i></a>
	<a href="https://twitter.com/openwebbu"><i class="fab fa-twitter"></i></a>
	<a href="https://www.facebook.com/openwebbu"><i class="fab fa-facebook-f"></i></a>
</footer>

<!--footer>
	<footer class="hide-for-small-only">
		<div class="row text-center">
		  <ul>
			<li><a href="https://www.facebook.com/openwebbu" target="_blank">facebook</a></li>
			<li><a href="https://twitter.com/openwebbu" target="_blank">twitter</a></li>
			<li><a href="https://instagram.com/openwebbu/" target="_blank">instagram</a></li>
			<li><a href="https://medium.com/@openwebbu" target="_blank">medium</a></li>
		  </ul>
		</div>
	  </footer>
</footer-->