<header>
	<div class="header__content">
	{{ $homeURL := .Site.BaseURL }}
	{{ with .Site.Menus.main }}
	<nav>
		<ul class="topnav">
			<li><a href="{{ $homeURL }}">OPEN<span style="font-weight: 900;">WEB</span></a></li>
		{{ range . }}
			<li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
		{{ end }}
			<li class="icon">
				<a href="javascript:void(0);" onclick="window.showMenu()">
					<i class="fa fa-bars"></i>
				</a>
			</li>
		</ul>
	</nav>
	{{ else }}
	<a href="{{ $homeURL }}">OPEN<span style="font-weight: 900;">WEB</span></a>
	{{ end }}
	</div>
</header>

<!--header> IF SITE.MENUS MAIN, THEN DO IT WITH HOME LOGO IN THE THING. OTHERWISE, JUST PUT THE LOGO HOW IT IS NOW. 
	<div class="row">
		<div class="columns small-12 medium-3-alt medium-offset-1 title">
			<a href="/">Open Web</a>
		</div>
		 
		 <div class="columns center small-12 medium-7-alt text-center right-nav trans2">
			 <div class="fade-left"></div>
			<div class="scrollable">
				<a href="about">About</a>
				<a href="resources">Resources</a>
				<a href="workshop">Workshops</a>
				<a href="join">Join</a>
			</div>
			<div class="fade-right"></div>
			<div class="fade-bottom"></div>
		 </div>
	</div>
</header-->
